.capabilities
	.container
		.row
			.col-xs-10
				h2.decor.decor--gold.capabilities__title.wow.fadeInDown
					| Возможности
				p.capabilities__desc.wow.fadeInLeft
					| Мы берёмся за любые виды отделочных работ, будь то косметический или капитальный ремонт под ключ. Используем только проверенные материалы, современные технологии и инструменты. И независимо от объёмов работ, я лично гарантирую следующее:
		.row
			.col-xs-10.col-sm-5
				.capabilities__item.wow.fadeIn
					.capabilities__item-title
						| Вы не заплатите ни единого рубля свыше договорённости
					.capabilities__item-desc
						| Даже если в ходе работ возникнут непредвиденные траты, они будут за наш счёт.
				.capabilities__item.wow.fadeIn
					.capabilities__item-title
						| Вы примете готовый объект точно в срок
					.capabilities__item-desc
						| Я ценю время заказчиков, помните?)
				.capabilities__item.wow.fadeIn
					.capabilities__item-title
						| Вы будете довольны результатом
					.capabilities__item-desc
						| Если он не будет соответствовать договору и Вас не устроит, мы переделаем бесплатно!
			.col-xs-10.col-sm-5
				.capabilities__item.wow.fadeIn
					.capabilities__item-title
						| Мы порадуем не только глаз
					.capabilities__item-desc
						| Ремонт и отделочные работы производятся с соблюдением всех технологических требований.
				.capabilities__item.wow.fadeIn
					.capabilities__item-title
						| Отлаженный процесс
					.capabilities__item-desc
						| Мы поддерживаем чистоту во время выполнения работ. И не распугиваем соседей опухшими лицами неопределённой национальности!)
				.capabilities__item.wow.fadeIn
					.capabilities__item-title
						| Гарантия качества
					.capabilities__item-desc
						| Мы уверены в своих работах, а чтобы подкрепить эту уверенность, предоставляем 365 дней гарантии на все виды работ!
