.contacts
	.container
		.row
			.col-xs-10
				h2.decor.decor--gold.contacts__title.wow.fadeInDown
					| Контакты
				p.contacts__desc.wow.fadeInLeft
					| Если Вам не по душе все эти электронные заявки, или Вы хотите обсудить детали со мной лично, можем договориться о встрече:
				a.btn.fancy.wow.tada(href="#call")
					| Отправить заявку