.discounts
	.container
		.row
			.col-xs-10
				h2.decor.decor--white.discounts__title.wow.fadeInDown
					| Скидки
				.discounts__text
					p.wow.fadeInLeft
						| Честно – я не сторонник скидок. Обычно, перед тем как сделать скидку, цену сначала завышают. Поэтому Вы не увидите здесь предложения в духе«300 000 50 000 рублей за ремонт квартиры!»
					p.wow.fadeInLeft
						| Но мне приятны рекомендации довольных заказчиков. Поэтому, если Вы пришли по одной из них, укажите адрес заказчика, чтобы получить взаимную приятность!)
				a.btn-white.fancy.wow.tada(href="#call")
					| Указать адрес