header.header.header--white.foo
	.container
		.row
			.col-xs-10.col-sm-5
				.header__container.header__container--left
					img.header__logo(src="images/logo.png", alt="AV STUDIO", width="207", height="79")
			.col-xs-10.col-sm-5
				.header__container.header__container--right
					.header__contacts
						address.header__addres
							| Ростовская область, Краснодарский край
						a.header__phone(href="tel:+79518379998")
							| +7 (951) 837-99-98
						a.header__mail.header--white__mail(href="mailto:AV.info@list.ru")
							| AV.info@list.ru