.form.form-3
	.container
		.row
			.col-xs-10
				h3.decor-mini.decor--gold.form__title.wow.fadeInDown
					| Хотите, чтобы мы преобразили Вашу недвижимость?
		.row
			.col-xs-10
				a.btn.form__btn.fancy.wow.tada(href="#call")
					| Преобразить