.form.form-2
	.container
		.row
			.col-xs-10
				h3.decor-mini.decor--gold.form__title.wow.fadeInDown
					| Хотите правильный ремонт без последствий?
					br
					| Закажите его в AV Studio!
		.row
			.col-xs-10
				a.btn.form__btn.fancy.wow.tada(href="#call")
					| Заказать