.form.form-1
	.container
		.row
			.col-xs-10
				h3.decor-mini.decor--gold.form__title.wow.fadeInDown
					| Если Вы пришли по рекомендации одного из них, просто укажите адрес объекта, чтобы получить наше спецпредложение!
		form.row.js-form-rec
			.col-xs-10.col-sm-7
				input.form__input.js-input-rec.wow.fadeInLeft(type="text", placeholder="Укажите, например, квартира на проспекте Ленина", required)
			.col-xs-10.col-sm-3
				button.btn.form__btn.wow.tada
					| Я по рекомендации