.main
	include header.jade
	.container
		.row
			.col-xs-10
				.main__title.main__title-1.wow.fadeInDown
					| Добрый день!
				.main__subtitle.main__subtitle-1.wow.fadeInLeft
					| Я Александр Vажинский – глава AV Studio, привыкший ценить своих заказчиков. В особенности их время, поэтому скажу Вам сразу:
				.main__desc.wow.fadeInLeft
					| если Вы пришли сюда в поисках компании, которая сделает ремонт квартиры или другие отделочные работы по самым низким ценам – не тратьте время на нашу студию, в Ростове-на- Дону найдутся работники подешевле! Только добавьте мой сайт в закладки, на случай внезапных переделок ;)
				.main__subtitle.main__subtitle-2.wow.fadeInLeft
					| Если же результат важнее небольшой экономии,
				a.btn.main__btn.fancy.wow.tada(href="#call")
					| Добро пожаловать
