.numbers
	.container
		.row
			.col-xs-10
				h2.decor.decor--gold.numbers__title.wow.fadeInDown
					| Статистика
				p.numbers__desc.numbers__desc-1.wow.fadeInLeft
					| Решили изучить наше предложение? Отличный выбор! Будем рады пополнить Вашей задачей нашу статистику:
				.numbers__metrics
					.numbers__metric-triple
						.numbers__metric.wow.fadeInUp
							| 1
						.numbers__metric.wow.fadeInUp(duration="2.5s", data-wow-delay="0.1s")
							| 7
					.numbers__metric-triple
						.numbers__metric.wow.fadeInUp(duration="2.5s", data-wow-delay="0.2s")
							| 4
						.numbers__metric.wow.fadeInUp(duration="2.5s", data-wow-delay="0.3s")
							| 8
						.numbers__metric.wow.fadeInUp(duration="2.5s", data-wow-delay="0.4s")
							| 0
					.numbers__metric.numbers__metric--none.wow.fadeInUp(duration="2.5s", data-wow-delay="0.5s")
						| м
						sup
							| 2
					.numbers__metric--triple
				p.numbers__desc.numbers__desc-2.wow.fadeInLeft
					| отремонтированных помещений, из них:
				
		.row
			.col-xs-5.col-sm-2
				.numbers__item.wow.fadeInUp(data-wow-delay="0s")
					.numbers__item-rhombus
						| 87
					.numbers__item-title
						| квартир
			.col-xs-5.col-sm-2
				.numbers__item.wow.fadeInUp(data-wow-delay="0.1s")
					.numbers__item-rhombus
						| 24
					.numbers__item-title
						| дома
			.col-xs-6.col-xs-offset-2.col-sm-2.col-sm-offset-0
				.numbers__item.wow.fadeInUp(data-wow-delay="0.2s")
					.numbers__item-rhombus
						| 18
					.numbers__item-title
						| магазинов
			.col-xs-5.col-sm-2
				.numbers__item.wow.fadeInUp(data-wow-delay="0.3s")
					.numbers__item-rhombus
						| 9
					.numbers__item-title
						| ресторанов
			.col-xs-5.col-sm-2
				.numbers__item.wow.fadeInUp(data-wow-delay="0.4s")
					.numbers__item-rhombus
						| 8
					.numbers__item-title
						| офисов
		.row
			.col-xs-10
				p.numbers__desc.numbers__desc-3.wow.fadeInLeft
					| И при таком объёме объектов, лишь дважды мы производили доработки. А это значит, что 
					b
						| 98,6%
					|  клиентов довольны с первой пробы, и лишь 
					b
						| 1,4%
					|  - со второй!