.Progress
	.container
		.row
			.col-xs-10
				h2.decor.decor--gold.Progress__title.wow.fadeInDown
					| Ход работы
				p.Progress__desc.wow.fadeInLeft
					| Ещё одна причина, по которой заказчики выбирают нас – простота взаимодействия. Весь процесс можно уложить в 6 пунктов:
				ol.Progress__items.list-dotted
					li.Progress__item.list-dotted__item.wow.fadeIn
						.list-dotted__item-corner
						| Вы оставляете заявку с описанием задачи. Например, «ремонт двухкомнатной квартиры площадью 60м 2 под ключ».
					li.Progress__item.list-dotted__item.wow.fadeIn
						.list-dotted__item-corner
						| Мы называем ориентировочную стоимость и сроки работ.
					li.Progress__item.list-dotted__item.wow.fadeIn
						.list-dotted__item-corner
						| Отправляем к Вам специалиста, который произведёт замеры, обсудит оставшиеся детали и назовёт точную стоимость.
					li.Progress__item.list-dotted__item.wow.fadeIn
						.list-dotted__item-corner
						| Подписываем договор и приступаем к работе.
					li.Progress__item.list-dotted__item.wow.fadeIn
						.list-dotted__item-corner
						| Сдаём работу точно в срок. Принимать работы ежедневно или при полной готовности – решать Вам.
					li.Progress__item.list-dotted__item.wow.fadeIn
						.list-dotted__item-corner
						| Остаётся лишь пожать друг другу руки!)