.reviews
	.container
		.row
			.col-xs-10
				h2.decor.decor--gold.reviews__title.wow.fadeInDown
					| Отзывы
				.reviews__items
					.reviews__item.clearfix
						.row
							.col-xs-10.col-sm-3.col-md-2
								.reviews__item-pr
									img(src="images/reviews/1.jpg", alt="", width="122", height="122")
							.col-xs-10.col-sm-7.col-md-8
								.reviews__item-title
									| Настасья Миронова:
								.reviews__item-desc
									| «Я столько всего слышала про отделочные бригады, что страшно было связываться даже! К счастью, я попала в хорошую компанию – AV Studio! Сделали мне такую красоту, что все мне теперь завидуют))) Спасибо вам за все, вы классные0:))))))»
					.reviews__item.clearfix
						.row
							.col-xs-10.col-sm-3.col-md-2
								.reviews__item-pr
									img(src="images/reviews/1.jpg", alt="", width="122", height="122")
							.col-xs-10.col-sm-7.col-md-8
								.reviews__item-title
									| Настасья Миронова:
								.reviews__item-desc
									| «Я столько всего слышала про отделочные бригады, что страшно было связываться даже! К счастью, я попала в хорошую компанию – AV Studio! Сделали мне такую красоту, что все мне теперь завидуют))) Спасибо вам за все, вы классные0:))))))»
					.reviews__item.clearfix
						.row
							.col-xs-10.col-sm-3.col-md-2
								.reviews__item-pr
									img(src="images/reviews/1.jpg", alt="", width="122", height="122")
							.col-xs-10.col-sm-7.col-md-8
								.reviews__item-title
									| Настасья Миронова:
								.reviews__item-desc
									| «Я столько всего слышала про отделочные бригады, что страшно было связываться даже! К счастью, я попала в хорошую компанию – AV Studio! Сделали мне такую красоту, что все мне теперь завидуют))) Спасибо вам за все, вы классные0:))))))»
					.reviews__item.clearfix
						.row
							.col-xs-10.col-sm-3.col-md-2
								.reviews__item-pr
									img(src="images/reviews/1.jpg", alt="", width="122", height="122")
							.col-xs-10.col-sm-7.col-md-8
								.reviews__item-title
									| Настасья Миронова:
								.reviews__item-desc
									| «Я столько всего слышала про отделочные бригады, что страшно было связываться даже! К счастью, я попала в хорошую компанию – AV Studio! Сделали мне такую красоту, что все мне теперь завидуют))) Спасибо вам за все, вы классные0:))))))»
					.reviews__item.clearfix
						.row
							.col-xs-10.col-sm-3.col-md-2
								.reviews__item-pr
									img(src="images/reviews/1.jpg", alt="", width="122", height="122")
							.col-xs-10.col-sm-7.col-md-8
								.reviews__item-title
									| Настасья Миронова:
								.reviews__item-desc
									| «Я столько всего слышала про отделочные бригады, что страшно было связываться даже! К счастью, я попала в хорошую компанию – AV Studio! Сделали мне такую красоту, что все мне теперь завидуют))) Спасибо вам за все, вы классные0:))))))»
					.reviews__item.clearfix
						.row
							.col-xs-10.col-sm-3.col-md-2
								.reviews__item-pr
									img(src="images/reviews/1.jpg", alt="", width="122", height="122")
							.col-xs-10.col-sm-7.col-md-8
								.reviews__item-title
									| Настасья Миронова:
								.reviews__item-desc
									| «Я столько всего слышала про отделочные бригады, что страшно было связываться даже! К счастью, я попала в хорошую компанию – AV Studio! Сделали мне такую красоту, что все мне теперь завидуют))) Спасибо вам за все, вы классные0:))))))»
					.reviews__item.clearfix
						.row
							.col-xs-10.col-sm-3.col-md-2
								.reviews__item-pr
									img(src="images/reviews/1.jpg", alt="", width="122", height="122")
							.col-xs-10.col-sm-7.col-md-8
								.reviews__item-title
									| Настасья Миронова:
								.reviews__item-desc
									| «Я столько всего слышала про отделочные бригады, что страшно было связываться даже! К счастью, я попала в хорошую компанию – AV Studio! Сделали мне такую красоту, что все мне теперь завидуют))) Спасибо вам за все, вы классные0:))))))»