.work
	.container
		.row
			.col-xs-10
				h2.decor.decor--gold.work__title.wow.fadeInDown
					| Примеры работ
				p.work__desc.wow.fadeInLeft
					| Чтобы не быть голословным, предлагаю Вам изучить некоторые наши работы и убедиться, что мы действительно делаем ремонт на совесть:
				.work__items
					.work__item
						img.work__item-pr(src="images/work/1.png", alt="")
					.work__item
						img.work__item-pr(src="images/work/1.png", alt="")
					.work__item
						img.work__item-pr(src="images/work/1.png", alt="")
					.work__item
						img.work__item-pr(src="images/work/1.png", alt="")
					.work__item
						img.work__item-pr(src="images/work/1.png", alt="")
					.work__item
						img.work__item-pr(src="images/work/1.png", alt="")
					.work__item
						img.work__item-pr(src="images/work/1.png", alt="")